# Database
DB_USER=optix_admin
DB_PASSWORD=secure_db_password_123
DB_NAME=optix_billing

# Security
JWT_ACCESS_SECRET=your_access_token_secret_very_long
JWT_REFRESH_SECRET=your_refresh_token_secret_very_long

# Application
PORT=3000
NODE_ENV=production

# Razorpay
RAZORPAY_KEY_ID=rzp_test_TMy1cZ9CH4Vh0V
RAZORPAY_KEY_SECRET=OJMTJqo6Oc8yBrbioMVWClcu
RAZORPAY_WEBHOOK_SECRET=OJMTJqo6Oc8yBrbioMVWClcu
